<section ng-controller="websiteEditerController as ctrl" layout-margin>

    <form ng-submit="ctrl.saveChanges()" name="websiteEditer">
      <div
            layout="row"
            layout-xs="column"
            class="md-whiteframe-z2"
            layout-padding
            layout-align="center center">
        <md-input-container flex>
          <label><md-icon>website</md-icon>Website</label>
          <input
                type="url"
                required="required"
                name="website"
                ng-model="ctrl.website" />
          <div class="hint" ng-show="websiteEdite.website.$pristine">eg. (http:\//wwww.example.com) </div>
          <div ng-messages="websiteEditer.website.$error">
            <div ng-message="url">invalid website url format  eg use http://\www.example.com </div>
          </div>
        </md-input-container>

      </div>

      <ad-default-submit-options></ad-default-submit-options>

    </form>


</section>
