<section ng-controller="websiteEditerController as ctrl" layout-margin>

    <ng-form ng-submit="ctrl.saveChanges()" name="websiteEditer">
      <div
            layout="row"
            layout-xs="column"
            class="md-whiteframe-z2"
            layout-padding
            layout-align="center center">
        <md-input-container flex>
          <label><md-icon>website</md-icon>Website</label>
          <input
                type="url"
                required="required"
                name="website"
                ng-model="ctrl.website" />
          <div class="hint" ng-show="websiteEdite.website.$pristine">eg. (http:\//wwww.example.com) </div>
          <div ng-messages="websiteEditer.website.$error">
            <div ng-message="url">invalid website url format  eg use http://\www.example.com </div>
          </div>
        </md-input-container>

      </div>
      <div layout="row" layout-align="space-around center">
        <md-button
                  class="md-primary md-raised "
                  type="submit"
                  ng-disabled="websiteEditer.$invalid">
                  <md-icon>save</md-icon>
        Save </md-button>
        <md-button class="md-warn md-raised" ng-disabled="wesiteEditer.$submitted">
        <md-icon>cancel</md-icon> cancel</md-button>
      </div>
    </ng-form>


</section>
