<section layout-margin ng-controller="guestUpdateController as ctrl">
  <form ng-submit="ctrl.saveChanges()" name="guestUpdater">


    <md-content layout-margin  class="md-whiteframe-z2" >
      <div ng-repeat="guest in ctrl.guests">
    <div layout="row"  layout-xs="column"  layout-align="space-between center">
      <md-input-container flex>
        <label>First Name</label>
        <input type="text" ng-model="guest.firstName" name="guestFirstName" required  />
        <div class="hint" ng-show="guestUpdater.guestFirstName.$pristine"></div>
        <div ng-messages="guestUpdater.guestFirstName.$error">
          <div ng-message="required">   First Name is Required   </div>
        </div>
      </md-input-container>
      <md-input-container flex >
        <label>Last Name</label>
        <input type="text" name="guestLastName" ng-model="guest.lastName" required />
        <div class="hint" ng-show="guestUpdater.guestLasttName.$pristine"></div>
        <div ng-messages="guestUpdater.guestLastName.$error">
          <div ng-message="required">  Last Name is Required  </div>
        </div>
      </md-input-container>
    </div>
    <div layout="row"  layout-xs="column" layout-align="space-between center">
      <md-input-container flex>
        <label>Aka Name</label>
        <input type="text" name="guestAkaName" ng-model="guest.akaName" />
        <div class="hint" ng-show="guestUpdater.guestAkaName.$pristine"> Stage name or Nick Name (Optional) </div>
      </md-input-container>
      <div flex>

        <lf-ng-md-file-input name="guestImage"  lf-files="guest.guestImage"  lf-browse-label="Upload Image" lf-remove-label="Remove"
        lf-filesize="2MB"  lf-mimetype="image/*" preview>
      </lf-ng-md-file-input>
      <div ng-messages="guestUpdater.guestImage.$error" style="color:red;">
      <div ng-message="mimetype">Mimetype error.</div>
      <div ng-message="filesize">File size too large.</div>

      </div>
            </div>

  </div>
  <md-divider></md-divider>
</div>
<md-divider class="inset"></md-divider>
<div layout="row" ng-controller="dynamicFieldController as dynamicCtrl"  layout-align="center center">
  <md-button ng-click="dynamicCtrl.addGuest(ctrl.guests)" class="md-primary">
  <md-icon>add</md-icon>Add</md-button>
</div>
  </md-content>

  <ad-default-submit-options></ad-default-submit-options>

</form>
</section>
