
<div ng-controller="homeCtrl" >

  <md-content flex hide-xs layout-padding layout="row" layout-xs="column" layout-align="center center">
      <div  layout-margin layout-padding layout-fill style=" min-height:300px;">
          <span class="md-headline"> Welcome to Egate </span>
          <div layout="row" flex layout-padding layout-margin layout-align="center center">
            <input flex="90" flex="auto" type="search"  />
            <md-button class="md-accent md-raised md-hue-3" >
              <md-icon  aria-label="search">search</md-icon>
            </md-button>

          </div>

      </div>

  </md-content>



  <md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools"   layout-align="center center" >
      <span class="md-headline">How It Works
      <md-icon>build</md-icon>
      </span>
    </div>

  </md-toolbar>

  <md-content style="margin-top:0px; margin-bottom:0px" flex layout="row" layout-xs="column" layout-align="space-between" layout-padding layout-margin>
      <div class="feat" flex style="margin-top:0px; margin-bottom:0px">
        <p> <md-icon>create</md-icon> </p>
        <p> Create Event</p>
      </div>
      <div flex class="feat" style="margin-top:0px; margin-bottom:0px">
<p>
  <md-icon>home</md-icon>
</p>
        <p>

        </p>

      </div>
      <div flex class="feat" style="margin-top:0px; margin-bottom:0px">
        <p>
          <md-icon>share</md-icon>
        </p>

        <p>
          Search Events
        </p>
      </div>
  </md-content>

  <md-content style="margin-top:0px; margin-bottom:0px" flex layout="row" layout-xs="column" layout-align="space-between" layout-padding layout-margin>
      <div class="feat" flex  style="margin-top:0px; margin-bottom:0px">
        <p> <md-icon>create</md-icon> </p>
        <p>  Authenticate Attendees</p>
      </div>
      <div flex class="feat" style="margin-top:0px; margin-bottom:0px">
        <p>
          <md-icon>share</md-icon>
        </p>

        <p>
          Share Events
        </p>
      </div>
  </md-content>




</div>
